<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <base href="../public">
    <link href="./login/signInCSS.css" rel="stylesheet">
</head>
<body>
    <div class="fheader">
        <div class="flogo"></div>
        <div class="fitem"><button type="button" onclick="window.location.href='linkk';" class="optd"><a class="noDesign" href="/">Home</a></button></div>
        <div class="fitem"><button type="button" onclick="window.location.href='linkk';" class="optd"><a class="noDesign" href="/explore">Explore</a></button></div>
        <div class="fitem"><button type="button" onclick="window.location.href='linkk';" class="optd"><a class="noDesign" href="/contact">Contact</a></button></div>
        <div class="fitem"><button type="button" onclick="window.location.href='linkk';" class="optd"><a class="noDesign" href="/about">About</a></button></div>
        <div class="flbt"><button type="button" onclick="window.location.href='linkk';" class="sflbt"><a class="noDesign" href="/register">Register</a></button></div>
    </div>

    <div class="fmain">
        <div id="sgin">
            <br>Sign in
        </div>
        <form autocomplete="off" action="">
            <input type="text" name="username" placeholder="Your username ..." ><br>
            <input type="password" name="password" placeholder="Your password ..."><br>
            <a href="registerpage.com">Not registered yet?</a>
            <input type="submit" value="Sign In">
        </form>
        <div class="divider">or continue with</div>
        <button type="button" onclick="window.location.href='google';" class="ggl"></button>
    </div>
</body>
</html>